{% extends "base.html" %}

{% block head_dependencies %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="crossorigin=""/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw-src.css"/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>

    <!-- Leaflet FullScreen -->
    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />

    <!-- Leaflet Draw -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw-src.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>
    <script src="{{ url_for('static', filename='js/language/fr-fr/draw.js') }}"></script>

    <!-- Leaflet Cluster -->
    <script src="{{ url_for('static', filename='js/markercluster.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/MarkerCluster.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/MarkerCluster.Default.css') }}"/>

    <!-- Map Scripts -->
    <script src="{{ url_for('static', filename='js/heatmap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/clsMap.js') }}"></script>
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <div id="city_map">
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/create_map.js') }}" onload="{{ mapJSMethod }}({{ layers }}, {{ options }})"></script>
{% endblock %}

{% block footer %}
{% endblock %}
