{% extends "base.html" %}

{% block content %}
    <!--<body background="{{ url_for('static', filename='img/background_subpage.png') }}">-->
        <div id="content" class="with_footer">
            <div class="encyclopedia">
                <h2 class="text-center">{{ page_title }}</h2>
                <br>
                <div id="candela">
                    <b>Candela:</b> La candela (symbole cd, du mot latin qui signifie « chandelle ») est l'une des sept unit&eacute;s de base du Syst&egrave;me international. Elle sert &agrave; mesurer l'intensit&eacute; lumineuse ou &eacute;clat perçu par l'œil humain d'une source lumineuse. Elle a remplac&eacute; l'ancienne unit&eacute; d'intensit&eacute; lumineuse, la bougie. « La candela, symbole cd, est l'unit&eacute; du SI d'intensit&eacute; lumineuse dans une direction donn&eacute;e. Elle est d&eacute;finie en prenant la valeur num&eacute;rique fix&eacute;e de l'efficacit&eacute; lumineuse d'un rayonnement monochromatique de fr&eacute;quence 540 × 1012 Hz, K<sub>cd</sub>, &eacute;gale &agrave; 683 lorsqu'elle est exprim&eacute;e en lm W<sup>−1</sup>, unit&eacute; &eacute;gale &agrave; cd sr W<sup>−1</sup>, ou cd sr kg<sup>−1</sup> m<sup>−2</sup> s<sup>3</sup>, le kilogramme, le m&egrave;tre et la seconde &eacute;tant d&eacute;finis en fonction de h, c et Δν<sub>Cs</sub>. <br>
                    Dans cet &eacute;nonc&eacute;, h est la constante de Planck, c la c&eacute;l&eacute;rit&eacute; de la lumi&egrave;re dans le vide, Δν<sub>Cs</sub> est la fr&eacute;quence de la transition hyperfine de l'&eacute;tat fondamental de l'atome de c&eacute;sium 133 non perturb&eacute;.
                    <br><br>
                </div>
                <div id="fne-aura">
                    <b>FNE-AuRA:</b> France Nature Environnement Auvergne-Rhône-Alpes est la f&eacute;d&eacute;ration r&eacute;gionale des associations de protection de la nature et de l'environnement. <a href=https://www.fne-aura.org/>https://www.fne-aura.org/</a>
                    <br><br>
                </div>
                <div id="frapna">
                    <b>FRAPNA:</b> La FRAPNA ou F&eacute;d&eacute;ration Rhône-Alpes de protection de la nature devenue France nature environnement Auvergne-Rhône-Alpes en 2019 est une association de protection de la nature dans la r&eacute;gion Rhône-Alpes. <a href=https://frapna-38.org/>https://frapna-38.org/</a>
                    <br><br>
                </div>
                <div id="led">
                    <b>LED:</b> (de l'anglais : light-emitting diode) Une diode &eacute;lectroluminescente est un dispositif opto-&eacute;lectronique capable d'&eacute;mettre de la lumi&egrave;re lorsqu'il est parcouru par un courant &eacute;lectrique.
                    <br><br>
                </div>
                <div id="lumen">
                    <b>Lumen:</b> Le lumen (du latin, lumi&egrave;re) est l'unit&eacute; d&eacute;riv&eacute;e du Syst&egrave;me international du flux lumineux ; son symbole est lm. Par d&eacute;finition, 1 lumen correspond au flux lumineux &eacute;mis dans un angle solide de 1 st&eacute;radian par une source lumineuse isotrope (ponctuelle uniforme) situ&eacute;e au sommet de l'angle solide et dont l'intensit&eacute; lumineuse vaut 1 candela.
                    <br><br>
                </div>
                <div id="lux">
                    <b>Lux:</b> Un lux est l'&eacute;clairement d'une surface qui reçoit, d'une mani&egrave;re uniform&eacute;ment r&eacute;partie, un flux lumineux d'un lumen par m&egrave;tre carr&eacute;.
                    <br><br>
                </div>
                <div id="nf_en_13201">
                    <b>Norme NF EN 13-201:</b> C'est un document qui d&eacute;finit les exigences de performance qui sont sp&eacute;cifi&eacute;es sous forme de classes d'&eacute;clairage pour l'&eacute;clairage public concernant les besoins visuels des usagers de la route et consid&egrave;re les aspects environnementaux li&eacute;s &agrave; l'&eacute;clairage public.
                    <br><br>
                </div>
                <div id="sdal">
                    <b>SDAL:</b> Le Sch&eacute;ma Directeur d’Am&eacute;nagement Lumi&egrave;re est un ouvrage de r&eacute;f&eacute;rence qui fixe les grandes orientations en mati&egrave;re d’&eacute;clairage urbain. <br>
                    Il permet de contr&ocirc;ler et d’anticiper la lumi&egrave;re afin de r&eacute;v&eacute;ler l’identit&eacute;
                    propre &agrave; chaque ville. Deux types de pr&eacute;nisation sont d&eacute;finies: Les pr&eacute;conisations lumi&egrave;re  d&eacute;finissent les niveaux d’&eacute;clairement et temp&eacute;ratures de couleur, les temporalit&eacute;s d&eacute;finissent les cycles et plages de fonctionnement de l’&eacute;clairage public.
                    <br><br>
                </div>
                <div id="source_lumineuse_isotrope">
                    <b>Source lumineuse isotrope:</b> Une source lumineuse isotrope est une source de lumi&egrave;re dont l'intensit&eacute; lumineuse est la m&ecirc;me dans toutes les directions. C'est le cas d'une sph&egrave;re rayonnante – par exemple une &eacute;toile.
                    <br><br>
                </div>
                <div id="temperature_de_couleur">
                    <b>Temp&eacute;rature de couleur:</b> La temp&eacute;rature de couleur fait r&eacute;f&eacute;rence &agrave; l'apparition de la lumi&egrave;re &eacute;mise par une source de lumi&egrave;re. Celle-ci est mesur&eacute;e en degr&eacute;s Kelvin (K) sur une &eacute;chelle de 1000 &agrave; 12000. Plus le nombre de Kelvin est &eacute;lev&eacute;, plus la lumi&egrave;re appara&icirc;tra. <br>
                    Les temp&eacute;ratures comprises entre 2000 et 3000 K sont connues en tant que “couleurs chaudes” car ils &eacute;mettent une agr&eacute;able lueur jaune ou orange, une temp&eacute;rature de couleur “Blanc froid” (3300-5300 K) aura une teinte fra&icirc;che et froide. Les temp&eacute;ratures sup&eacute;rieures &agrave; 5300 K sont d&eacute;finies en tant que “lumi&egrave;re du jour” car cette couleur (blanc-bleu) reproduit parfaitement la lumi&egrave;re du jour.
                </div>
            </div>
        </div>
    <!--</body>-->
{% endblock %}