{% extends "base.html" %}

{% block content %}
    <div id="content" class="with_footer">
        <div class="logo_desc">
            <!-- Button -->
            <a href="{{ map_data.href }}" role="button">
            {% if map_data.description.icon %}
                <img src="../static/img/{{ map_data.description.icon }}" alt="Bouton {{ map_data.description.title }}" width="200">
            {% endif %}
            <div class="border">
                <h5><i class="fa fa-arrow-right"></i> Accéder à la carte</h5>
            </div>
            </a>
        </div>
        <div class="map_desc text-center">
            <h2>{{ map_data.description.title }}</h2>

            {% if map_data.description.accroche %}
                <h3 class="border">{{ map_data.description.accroche }}</h3>
            {% endif %}

            <!-- Video -->
            {% if map_data.description.video %}
                <video width="640" height="360" controls>
                    <source src="../static/{{ map_data.description.video }}" type=video/mp4>
                </video>
            {% endif %}

            <!-- Blabla -->
            <div id="myTxt">
                <script src="{{ url_for('static', filename='js/showMyTxt.js') }}" onload="showMyTxt({{ map_data.description }})"></script>
            </div>
        </div>
    </div>
{% endblock %}