{% extends "base.html" %}
{% load static %}

{% block content %}
    <div id="content" class="credits">
        <h1>{{ page_title }}</h1>
        <u><h2>Crédits</h2></u>
        <p><strong>Réalisation du site</strong> : <a href="https://www.linkedin.com/in/thibault-debruyne-51663320a/">Debruyne Thibault</a>, Diaz Helena, Ramparany Fano</p>
        <p><strong>Graphisme et logo</strong> : Brethome Nicolas</p>
        <p><strong>Tutoriels vidéo</strong> : Lottin Pauline</p>
        <br>
        <p><strong>Textes</strong> : Pollux</p>
        <br>
        <p><strong>CMS</strong> : <a href="https://getbootstrap.com/">Bootstrap</a></p>
        <br>
        <p><strong>Thème</strong> : From scratch</p>
        <br>
        <p><strong>Icônes</strong> : <a href="https://fontawesome.com/">Awesome Icon</a></p>
        <br>
        <p><strong>Cartes</strong> : <a href="https://leafletjs.com/">Leaflet</a></p>
        <u><h2>Licence</h2></u>
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a>.
        <br>
        <img alt="Creative Commons License" style="border-width: 0" src="https://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png" />
        <u><h2>Données</h2></u>
        <table>
            <tr>
                {% for column_name in data_origin.columns %}
                    <th>{{ column_name }}</th>
                {% endfor %}
            </tr>
            {% for lines in data_origin.lines %}
                <tr>
                    <td>{{ lines.name }}</td>
                    <td><a href="{{ lines.href }}">{{ lines.href_txt }}</a></td>
                    <td>{{ lines.licence }}</td>
                    <td>{{ lines.details }}</td>
                </tr>
            {% endfor %}
        </table>
        <u><h2>Remerciements</h2></u>
        Ce projet a été co-construit lors de la 3ème édition du <a href="https://grenoble.civiclab.eu/">CivicLab</a> de Grenoble, organisé par la <a href="https://turbine.coop/">Turbine.coop</a>.
        <br>
        <br>
        Un <u>grand</u> merci à eux pour leurs précieux conseils, leur bonne humeur et leur disponibilité.
        <br>
        <br>
        Merci également aux différents partenaires de l'évènement, pour leur retours, leur ouverture et d'avoir rendu cette belle aventure possible.
        <br>
        <br>
        <a href="https://turbine.coop/"><img src="{% static 'img/civiclab_logos/Turbine_250x250.png' %}" width="150"></a>
        <a href="https://www.lametro.fr/"><img src="{% static 'img/civiclab_logos/la-metro_300x300.png' %}" width="150"></a>
        <a href="https://www.grenoble.fr/"><img src="{% static 'img/civiclab_logos/ville-grenoble_300x300.jpg' %}" width="150"></a>
        <a href="https://www.grenoble.fr/"><img src="{% static 'img/civiclab_logos/GreenAlp_250x250.png' %}" width="150"></a>
        <a href="https://greenalp.fr/"><img src="{% static 'img/civiclab_logos/leo-lagrange_320x320.png' %}" width="150"></a>
        <br>
        <a href="https://www.la-belle-electrique.com/"><img src="{% static 'img/civiclab_logos/LaBelleElectrique_300x300.jpg' %}" width="150"></a>
        <a href="https://lacasemate.fr/"><img src="{% static 'img/civiclab_logos/casemate_300x300.jpg' %}" width="150"></a>
        <a href="https://www.grenoble-iae.fr/"><img src="{% static 'img/civiclab_logos/IAE_320x320.png' %}" width="150"></a>
        <a href="https://www.grenoble-em.com/"><img src="{% static 'img/civiclab_logos/GEM_300x300.jpg' %}" width="150"></a>
        <a href="https://ftalps.com"><img src="{% static 'img/civiclab_logos/FrenchTech_300x300.png' %}" width="150"></a>
        <br>
    </div>
{% endblock %}
